@charset "utf-8";
/* CSS Document */


/*
===================================================
				OTHER COLORS
===================================================
*/
body{
color:#652829 !important;
}

.bg{
background-color:#C44D56;
background-image:none;
border-color:#252525;
}
.free-shipping {
background-color:#000000;
border-color:#252525;
}
.whats-new{
background-color:#F0F1F7;
}
.love-it, .our-products{
background-color:#F0F1F7;
}
.testimonials {
    background-color: #F0F1F7;
    border-color:#A64F4D;
}
.flexslider{
background-color:#fff !important;
}
#carousel.flexslider .flex-active-slide:before{
border-color:#1A1A1A transparent transparent !important;
opacity:1;
}
.off{
color:#000000;
}

.experts{
background-color:#F44A52;
}

.content h2{
color:#0b0;
}
.header h3{
color:#C44D56;
}
.williams p{
color:#FFFFFF;
}
.our-products .nav-tabs > li > a{
color:#FFFFFF;
}
.our-products .nav-tabs > li > a:hover{
color:#000000;
}
.long-looking{
border:none;
}
.long-looking ul li{
background-color:#Fff;
}
.long-looking ul li:hover{
background-color:#0b0b0b;
}
.long-looking .see-more, .long-looking p{
color:#d6d6d6;
}